<launch>

  <!-- run state_controller.py-->
  <node pkg="q_learning_project" type="state_controller.py" name="state_controller"/>
  <arg name="node_start_delay" default="5.0" />  

   <!-- run action_controller.py-->
  <node pkg="q_learning_project" type="action_controller.py" name="action_controller"/>


</launch>
